/* josefin-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/josefin-sans-v34-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/josefin-sans-v34-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/josefin-sans-v34-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root{
  --primary-pink-400:hsl(0, 36%, 70%);
  --primary-red-500:hsl(0, 93%, 68%);
  --neutral-grey-900:hsl(0, 6%, 24%);
  --gradient-1: linear-gradient(135deg, hsl(0,0%, 100%), hsl(0, 100%, 98%));
  --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --font-body: "Josefin Sans", sans-serif;
  --font-body-size: 1rem;
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body{
  display: flex;
  justify-content: start;
  align-items: start;
  font-size: var(--font-body-size);
  font-family:var(--font-body);
  min-height: 100vh;
  min-width: 100%;
}

.parent-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.logo-container{
  height: calc(85/ 16 * 1rem);
  width: 100%;
  display: flex;
  align-items: center;
}

.logo{
  margin-inline-start: calc(31 / 16 * 1rem);
}

.image-container{
  background-image: url(images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:calc(250 / 16 * 1rem);
  width: 100%;
}

.info-and-input-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-block-start: calc(65 / 16 * 1rem);
  padding-inline: calc(35 / 16 * 1rem);
  width: calc(375 / 16 * 1rem);
  gap: calc(25 / 16 *  1rem);
}

.title{
  text-align: center;
  font-size: calc(40 / 16 * 1rem);
  letter-spacing: 0.25em;
}

.paragraph{
  text-align: center;
  font-size: calc(14.3 / 16 * 1rem);
  line-height: 1.45em;
}


