/* josefin-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/josefin-sans-v34-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/josefin-sans-v34-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* josefin-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/josefin-sans-v34-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


:root{
  --primary-pink-400:hsl(0, 36%, 70%);
  --primary-red-500:hsl(0, 93%, 68%);
  --neutral-grey-900:hsl(0, 6%, 24%);
  --gradient-1: linear-gradient(135deg, hsl(0,0%, 100%), hsl(0, 100%, 98%));
  --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --font-body: "Josefin Sans", sans-serif;
  --font-body-size: 1rem;
}

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: var(--font-body-size);
  font-family:var(--font-body);
  min-height: 100vh;
  min-width: 100%;
  background: var(--gradient-1);
}

.header-container{
  height: calc(85 / 16 * 1rem);
}

.parent-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.logo-container{
  height: calc(85/ 16 * 1rem);
  width: 100%;
  display: flex;
  align-items: center;
}

.logo{
  margin-inline-start: calc(31 / 16 * 1rem);
}

.image-container{
  background-image: url(images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: clamp(15.625rem, 72vw, 40rem);
  width: 100%;
}

.info-and-input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: min(4.0625rem, clamp(4.0625rem, 72vw, 6rem));
  padding-inline: min(1.875rem, clamp(1.875rem, 72vw, 10rem));
  width: 100%;
  gap: calc(25 / 16 *  1rem);
  height: 100%;
}

.title{
  text-align: center;
  font-size: calc(40 / 16 * 1rem);
  letter-spacing: min(0.25em, clamp(0.25em, 72vw, 0.26em));
}

.styled-text{
  // applying gradient as the background
  background: var(--gradient-2);
  // clipping background to the text
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
  // for Safari compatability
  -webkit-text-fill-color: transparent;
  font-weight: 300;
}

.paragraph{
  text-align: center;
  font-size: calc(14.3 / 16 * 1rem);
  line-height: 1.45em;
  color:var(--primary-pink-400);
}

.subscribe-form{
  position: relative;
  margin-block-end: calc(100 / 16 * 1rem);
  display: flex;
  flex-direction: column;
  width: min(100%, clamp(15rem, 72vw, 27rem));
  align-items: center;
}

.email-input{
  border: 1px solid var(--primary-pink-400);
  height: calc(47 / 16 * 1rem);
  // clamp for adjusting to smaller viewports and scale higher in mobile & tab devices
  width: 100%;
  padding-inline: calc(20 / 16 * 1rem);
  padding-inline-end: calc(90 / 16 * 1rem);
  margin-block-start: calc(8 / 16 * 1rem);
  border-radius: calc(32 / 16 * 1rem);
  font-size: calc(14 / 16 * 1rem);
}

.email-input.error{
  border: 2px solid var(--primary-red-500);
  background-image: url(images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: right 3.8rem center;
  background-size: calc(20 / 16 * 1rem);
}

.email-input::placeholder{
  color: var(--primary-pink-400);
}

.error-message{
  font-size: calc(13 / 16 * 1rem);
  margin-block-start: calc(10 / 16 * 1rem);
  color: var(--primary-red-500);
  opacity: 0;
  transition: opacity 0.3s ease;
  padding-inline: calc(25 / 16 * 1rem);
}

.error-message.show{
  opacity:1;
}

.submit-button{
  position: absolute;
  right: 0;
  width: calc(62 / 16 * 1rem);
  height: calc(47 / 16 * 1rem);
   // applying gradient as the background
  background: var(--gradient-2);
  display: grid;
  place-items: center;
  border: none;
  margin-block-start: calc(8 / 16 * 1rem);
  border-radius: calc(32 / 16 * 1rem);
  transition: transform 0.3s ease;
}

//hover state
.submit-button:hover{
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
  transform: translateX(2px);
  cursor: pointer;
}

.button-img{
  height: calc(20 / 16 * 1rem);
  width: calc(15 / 16 * 1rem);
}

// focus states
.email-input:focus{
  outline: 1px solid var(--primary-pink-400);
  outline-offset: .1em;
}

@media(min-width: 65rem){
  body{
    position: relative;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: top -130px left -100px;
  }

  .parent-container{
    flex-direction: row-reverse;
  }

  .logo{
    height: 30px;
    width: 140px;
    margin-inline-start: calc(140 / 16 * 1rem);
  }
  .logo-container{
    height: calc(150 / 16 * 1rem);
  }

  .image-container{
    background-image: url(images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top:0;
    height: 100%;
    width: 45%;
  }

  .info-and-input-container{
    grid-row: 2/5;
    align-items: flex-start;
    padding-block-start: calc(150 / 16 * 1rem);
    padding-inline: calc(110 / 16 * 1rem);
    gap: calc(1 / 16 * 1rem);
  }

  .title{
    text-align: start;
    font-size: calc(60 / 16 * 1rem);
    height: 200px;
    width: 300px;
    letter-spacing: 0.26em;
    padding-block-end: calc(20 / 16 * 1rem);
  }

  .paragraph{
    text-align: start;
    height: 110px;
    width: 450px;
    font-size: 0.95rem;
    padding-block-end: calc(20 / 16 * 1rem);
    line-height: 1.6em;
  }

  .subscribe-form{
    margin-block-end: calc(65 / 16 * 1rem);
    width: 420px;
  }

  .email-input{
    height: calc(53 / 16 * 1rem);
    padding-block-start: calc(5 / 16 * 1rem);
    padding-inline: calc(26 / 16 * 1rem);
  }

  .submit-button{
    height: calc(53 / 16 * 1rem);
    width: calc(95 / 16 * 1rem);
  }
}



